exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Ruff format
        description: Run Ruff format on files included in the commit.
        entry: uv run ruff format
        pass_filenames: false
        types: [file, python]
        language: system

      - id: lint
        name: Ruff lint
        description: Run Ruff lint on files included in the commit.
        entry: uv run ruff check --fix
        pass_filenames: false
        types: [file, python]
        language: system
